<div class="container">
  <h1>Java</h1>
  <p>El objetivo del presente curso es apoyar a la materia de fundamentos de programaci칩n, en el aprender치 a programar en Java orientado a objetos y tendr치 la capacidad de escribir c칩digo claro.</p>

  <div class="row">
    <%= render @chapters, cached: true %>
  </div>
</div>
